body {
  margin: 0;
  font-family: "Press Start 2P", "Courier New", Courier, monospace;
  background: #181818;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: "Press Start 2P", "Courier New", Courier, monospace;
  background: #181818;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
